 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html {
     font-size: 10px;
 }

 body {
     font-family: "Roboto", "Arial", sans-serif;
 }

 ::-webkit-scrollbar {
     width: 8px;
     height: 8px;
 }

 ::-webkit-scrollbar-thumb:hover {
     background-color: #dfdede;
 }

 ::-webkit-scrollbar {
     background-color: #F5F5F5;
 }

 ::-webkit-scrollbar-thumb {
     background-color: #e6e3e3;
     border-radius: 5px;
 }

 ::-webkit-scrollbar-track {
     background-color: #F5F5F5;
     border-radius: 5px;
 }

 /* ("Header")...................... */

 header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 56px;
     padding: 0 16px;
 }

 header .left-section {
     display: flex;
     align-items: center;
     gap: 16px;
 }

 header .left-section img {
     width: 46%;
     cursor: pointer;
 }

 header .left-section span {
     cursor: pointer;
 }

 header .mid-section {
     display: flex;
     align-items: center;
     margin-left: -13%;
 }

 header .mid-section form {
     display: flex;
     height: 40px;
     width: 628px;
 }

 header .mid-section form input {
     width: 100%;
     border-radius: 5px 0 0 5px;
     padding: 12px;
     border: 1px solid #d3d3d3;
     border-right: none;
 }

 .mid-section button {
     width: 64px;
     border: 1px solid #d3d3d3;
     border-radius: 0 2px 2px 0;
     padding-top: 4px;
     background-color: #f8f8f8;
     cursor: pointer;
 }

 .mid-section button:hover {
     border-color: #c6c6c6;
     background-color: #f0f0f0;
 }

 .mid-section .mic {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background-color: #f9f9f9;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 10px;
     cursor: pointer;
 }

 .right-section a {
     padding-right: 18px;
     text-decoration: none;
     color: black;
 }

 /* ("content") ...........*/

 .content-area {
     height: calc(100vh - 56px);
     display: flex;
     background-color: #f9f9f9;
 }

 aside {
     height: 100%;
     background-color: white;
     width: 280px;
     overflow-y: auto;
     /* margin-left: -500px; */
 }

 .hidden {
     display: none;
 }

 nav {
     width: 100%;
     display: flex;
     flex-direction: column;
     margin: 15px 0;
     padding-right: 15px;
 }

 aside nav a i {
     width: 30px;
 }

 .nav-link {
     display: flex;
     align-items: center;
     padding: 10px 16px;
     text-decoration: none;
     color: black;
 }

 .nav-link:hover {
     background-color: rgba(0, 0, 0, 0.05);
 }

 .nav-link span {
     margin-left: 24px;
     font-size: 1.4rem;
     line-height: 2em;
     font-weight: 400;
     color: #030303;
 }

 .active {
     background-color: #e5e5e5;
 }

 #active-span {
     font-weight: 600;
 }

 hr {
     height: 1px;
     background-color: #e5e5e5;
     margin: 10px 0;
     border: none;
 }

 .subscriptioins-container {
     /* height: 200px; */
     overflow-y: hidden;

 }

 .subscriptions-title {
     font-weight: 200;
     font-size: 1.4rem;
     padding: 10px 16px;
     color: #606060;
     text-transform: uppercase;
 }

 .nav-link-img {
     width: 30px;
     border-radius: 50%;
 }

 .copyright-section {
     padding: 10px 16px;
     display: flex;
     flex-direction: column;
     gap: 20px;
     font-size: 1.4rem;
     font-weight: 300;
     letter-spacing: 1px;
     line-height: 2rem;
 }

 /* ("videos") */

 main {
     width: 100%;
     height: 100%;
     padding: 35px 15px;
     border-top: 1px solid #ddd;
     overflow-y: auto;
 }

 .videos-container {
     display: flex;
     gap: 30px;
     flex-wrap: wrap;
 }

 .video-card {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-bottom: 20px;
     border: 1px solid #ccc;
     border-radius: 5px;
     overflow: hidden;
 }

 .video-thumbnail {
     flex: 1;
 }

 .video-thumbnail img {
     width: 100%;
     height: auto;
 }

 .video-details {
     flex: 2;
     padding: 10px;
 }

 .video-title {
     margin: 0;
     font-size: 18px;
     font-weight: bold;
     max-width: 270px;
     overflow: hidden;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-align: vertical;
 }

 .video-stats {
     display: flex;
     margin-bottom: 10px;
 }

 .video-stats p {
     margin: 0;
     margin-right: 20px;
     font-size: 14px;
     color: #666;
 }

 .video-info {
     display: flex;
 }

 .video-info p {
     margin: 0;
     font-size: 14px;
     color: #666;
 }

 .video-owner {
     margin-right: 20px;
 }

 .video-published {
     color: #999;
 }